*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page-cad{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

#page-cad .image{
    background-color: #EDEDED;
}

.image img{
    padding-top: 45px;
}

.form-cad{
    border-radius: 8px;
    margin-left: 18%;
    width: 100%;
}

.come-back-home{
    display: flex;
    justify-content: flex-end;
    padding: 40px 40px 12px
}

.come-back-home img{
    width: 15px;
}

.come-back-home p{
    font-size: 14px;
    padding-left: 5px;
    color: black;
}

.form-cad h1{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 35px;
    margin-top: 60px ;
}

.form-cad .field{
    width: 270px;
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
    font-family: 'Roboto', sans-serif;
    
}

.form-cad .field label{
    margin-top: 20px;
    margin-bottom: 10px;
}

.form-cad .field input{

  border-radius: 8px;
  border: 2px solid #00ACEE;
  padding: 8px 20px;
  font-size: 16px;
  outline: none;
}


button {
    width: 100px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid #049cd8;
    background-color: #00ACEE;
   
    font-size: 13px;
    font-weight: bold;
    color: #FDFDFD;
    margin: 10px 80px;

    transition: background-color 0.2s;
    cursor: pointer;
    outline: none;
}

button:hover{
    background-color: #049cd8;
}

#page-cad .link-login{
    margin-top: 10px;
    margin: 15px 70px;
}

#page-cad .link-login:hover{
    color: black;
    cursor: pointer;
}


@media(max-width: 640px){
    
    #page-cad{
        display: flex;
        flex-direction: column-reverse;
    }

    #page-cad .image{
        margin-top: 50px;
    }

    .image img{
        width: 0%;
        margin-left: 0px;
    }
   
    .form-cad {
        margin-left: 12%;
        width: 85%;
    }
    
    .come-back-home {
        padding: 40px 20px 12px;
    }

    .form-cad h1{
        align-items: center;
    }
    
}