*{
  box-sizing: border-box;
}
l,li,p {
  margin: 0px;
  padding: 0px;
  list-style: none;

  font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color:#00ACEE;
  }

.header {
    background:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid black;
    box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
  
  }
  
  .menu {
    display: flex;
  }
  
  .menu li {
    margin-left: 10px;
  }
  
  .menu li a {
    padding: 10px;
  }

.CardQuestions {
    margin: 20px;
    width: 350px;
    height: 350px;

    border: 1px solid black;
    border-style: ridge ;
    border-width: medium;
    border-radius: 10px 20px;
    box-shadow: 5px 3px 5px 5px rgba(184,175,184,1);

    align-items: center;
    display:flex;
    flex-direction: column;
    
    
}
.EtruturaDosFormularios{
  margin-left:10% ;

  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;

  
  
}
.esteticaformulario {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight:10px;
    margin: auto;
    

}

.textoDentrodoCard{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 35px;
    padding: 10px;
}

.button {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    position:absolute;
    bottom:0;
    width:100%;
    margin-left:30% ;

}
#locbutton{
  margin-left: 41.5% ;
} 

